<a href="https://colab.research.google.com/github/Afkarr1/Afkarr/blob/main/tugas13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def bfs(graph, start):
  visited = []
  queue = []
  queue = [start]
  while queue:
    node = queue.pop(0)
    if node not in visited:
      visited.append(node)
      neighbours = graph[node]
      for neighbour in neighbours:
        queue.append(neighbour)
  return visited

In [ ]:
graph = {0: [9, 7, 11],
         1: [10, 8],
         2: [12, 3],
         3: [2, 4],
         4: [3],
         5: [6],
         6: [5, 7],
         7: [0, 11, 6, 3],
         8: [1, 9, 12],
         9: [0, 8, 10],
         10: [1, 9],
         11: [0, 7],
         12: [8, 2]
         }

bfs(graph, 0)

[0, 9, 7, 11, 8, 10, 6, 3, 1, 12, 5, 2, 4]

In [ ]:
graph = {'Amin' : ['Wasim', 'Nick', 'Mike'],
         'Wasim' : ['Imran', 'Amin'],
         'Imran' : ['Wasim', 'Faras'],
         'Faras' : ['Imran'],
         'Mike' : ['Amin'],
         'Nick' : ['Amin']
         }

In [ ]:
bfs(graph,'Amin')

['Amin', 'Wasim', 'Nick', 'Mike', 'Imran', 'Faras']

In [ ]:
print(bfs(graph, 'Amin'))
print(bfs(graph, 'Wasim'))
print(bfs(graph, 'Faras'))

['Amin', 'Wasim', 'Nick', 'Mike', 'Imran', 'Faras']
['Wasim', 'Imran', 'Amin', 'Faras', 'Nick', 'Mike']
['Faras', 'Imran', 'Wasim', 'Amin', 'Nick', 'Mike']

In [ ]:
graph = {'Rektor' : [ 'Warek 1', 'Warek 2'],
         'Warek 1' : ['Rektor'],
         'Warek 2' : ['Rektor', 'Kaprodi 1', 'Kaprodi 2', 'Kaprodi 3'],
         'Kaprodi 1' : ['Warek 2', 'Dosen A', 'Dosen B', 'Dosen C'],
         'Kaprodi 2' : ['Warek 2', 'Dosen D', 'Dosen E'],
         'Kaprodi 3' : ['Warek 2', 'Dosen F', 'Dosen G'],
         'Dosen A' : ['Kaprodi 1'],
         'Dosen B' : ['Kaprodi 1'],
         'Dosen C' : ['Kaprodi 1'],
         'Dosen D' : ['Kaprodi 2'],
         'Dosen E' : ['Kaprodi 2'],
         'Dosen F' : ['Kaprodi 3'],
         'Dosen G' : ['Kaprodi 3']
         }

In [ ]:
bfs(graph,'Rektor')

['Rektor',
 'Warek 1',
 'Warek 2',
 'Kaprodi 1',
 'Kaprodi 2',
 'Kaprodi 3',
 'Dosen A',
 'Dosen B',
 'Dosen C',
 'Dosen D',
 'Dosen E',
 'Dosen F',
 'Dosen G']

In [ ]:
def dfs(visited, graph, node):
  if node not in visited:
    print(node)
    visited.add(node)
    for neighbor in graph[node]:
      dfs(visited, graph, neighbor)

In [ ]:
graph = {0: [1, 9],
         1: [0, 8],
         2: [3],
         3: [2, 4, 5, 7],
         4: [3],
         5: [3, 6],
         6: [5, 7],
         7: [3, 6, 8, 10, 11],
         8: [1, 9, 7],
         9: [0, 8],
         10: [7, 11],
         11: [10, 7],
         12: []
         }
visited = set()
dfs(visited, graph, 0)

0
1
8
9
7
3
2
4
5
6
10
11

In [ ]:
graph = {'Amin' : ['Wasim', 'Nick', 'Mike'],
         'Wasim' : ['Imran', 'Amin'],
         'Imran' : ['Wasim', 'Faras'],
         'Faras' : ['Imran'],
         'Mike' : ['Amin'],
         'Nick' : ['Amin']
         }

visited = set()
dfs(visited, graph, 'Amin')

Amin
Wasim
Imran
Faras
Nick
Mike

In [ ]:
visited = set()
dfs(visited, graph, 'Wasim')

Wasim
Imran
Faras
Amin
Nick
Mike

In [ ]:
visited = set()
dfs(visited, graph, 'Nick')

Nick
Amin
Wasim
Imran
Faras
Mike

In [ ]:
visited = set()
dfs(visited, graph, 'Faras')

Faras
Imran
Wasim
Amin
Nick
Mike

In [ ]:
graph = {'Rektor' : [ 'Warek 1', 'Warek 2'],
         'Warek 1' : ['Rektor'],
         'Warek 2' : ['Rektor', 'Kaprodi 1', 'Kaprodi 2', 'Kaprodi 3'],
         'Kaprodi 1' : ['Warek 2', 'Dosen A', 'Dosen B', 'Dosen C'],
         'Kaprodi 2' : ['Warek 2', 'Dosen D', 'Dosen E'],
         'Kaprodi 3' : ['Warek 2', 'Dosen F', 'Dosen G'],
         'Dosen A' : ['Kaprodi 1'],
         'Dosen B' : ['Kaprodi 1'],
         'Dosen C' : ['Kaprodi 1'],
         'Dosen D' : ['Kaprodi 2'],
         'Dosen E' : ['Kaprodi 2'],
         'Dosen F' : ['Kaprodi 3'],
         'Dosen G' : ['Kaprodi 3']
         }

visited = set()
dfs(visited, graph, 'Rektor')

Rektor
Warek 1
Warek 2
Kaprodi 1
Dosen A
Dosen B
Dosen C
Kaprodi 2
Dosen D
Dosen E
Kaprodi 3
Dosen F
Dosen G